<body>
<h3>Leave a rating!</h3>
<div class="stars">
  <ul class="list-inline rating-list" *ngFor="let star of stars; let i= index">
    <li (click)="countStar(star)" [ngClass]="{'selected': (star <= selectedValue)}" (mouseover)="addClass(star)"
        (mouseout)="removeClass()"> <span class="material-icons">star</span>
    </li>
  </ul>
</div>
<div class="footer">
  <button class="btn btn-primary" (click)="sendReview()">Send</button>
  <button class="btn btn-outline-secondary" (click)="cancelReview()">Cancel</button>
</div>
</body>
