.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  padding-left: 30px;
  padding-top: 50px;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  background: #C8C8C8;
}

.mat-card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  margin: 50px;
}

.mat-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.mat-icon-button {
}

.checked {
  color: dodgerblue;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}




