<div class="container">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let b of books">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{b.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{b.authorFirstName}} {{b.authorLastName}}</h6>
          <p class="card-text">Genre: {{b.genre}}</p>
          <p class="card-text">Price: {{b.price}} RSD</p>
        </div>
        <div class="card-footer" *ngIf="isLoggedIn">
          <button class="btn btn-primary" (click)="addToCart(b)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>