<div>
<div class="wrapper" *ngFor="let b of books">
  <mat-card class="mat-card">
    <mat-card-header class="mat-card-header">
      <mat-card-title>
        {{b.name}}
      </mat-card-title>
      <mat-card-subtitle>
        {{b.authorFirstName}}  {{b.authorLastName}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="mat-card-content">
      <p>Genre: {{b.genre}}</p>
      <p>Price: {{b.price}}e</p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{b.name}}
      </mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{b.name}}
      </mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{b.name}}
      </mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{b.name}}
      </mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{b.name}}
      </mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{b.name}}
      </mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{b.name}}
      </mat-card-title>
    </mat-card-header>
  </mat-card>
</div>

</div>
