<body>
  <header>
    <h2 class="logo">(╯°□°)╯︵ ┻━┻</h2>
    <nav class="navigation">
      <a href="">Home</a>
      <a *ngIf="isBanker" href="/credit-request">Credit Request</a>
      <a href="/books">Add Something</a>
      <a href="#">Add Something</a>
      <button class="btnLogin-popup" *ngIf="!isLoggedIn" (click)="routeToSignUp()">Sign up</button>
      <button class="btnLogin-popup" *ngIf="!isLoggedIn" (click)="routeToSignIn()">Sign in</button>
      <button class="btnLogin-popup" *ngIf="isLoggedIn" (click)="signOut()">Sign out</button>
    </nav>
  </header>
</body>
