<body>
  <header>
      <h2 class="logo">Books&Books</h2>
      <nav class="navigation">
        <a href="">Home</a>
        <a href="/books">Books</a>
        <a href="#">Add Something</a>
        <a href="#">Add Something</a>
        <button class="btnLogin-popup" *ngIf="!isLoggedIn" (click)="routeToSignUp()">Sign up</button>
        <button class="btnLogin-popup" *ngIf="!isLoggedIn" (click)="routeToSignIn()">Sign in</button>
        <button class="btnLogin-popup" *ngIf="isLoggedIn" (click)="signOut()">Sign out</button>

      </nav>
  </header>
</body>
