<body>
  <section>
    <div class="form-box">
      <div class="form-value">
        <form [formGroup]="registerForm" (ngSubmit)="signUp()">
          <h2>Sign up</h2>
          <div class="input-box">
            <input type="email"  placeholder=" " formControlName="username" required>
            <label>Email</label>
          </div>
          <div class="input-box">
            <input type="text"  placeholder=" " formControlName="firstName" required>
            <label>First name</label>
          </div>
          <div class="input-box">
            <input type="text"  placeholder=" " formControlName="lastName" required>
            <label>Last name</label>
          </div>
          <div class="input-box">
            <input type="password"  placeholder=" " formControlName="password" required>
            <label>Password</label>
          </div>
          <button> Sign Up</button>
          <div class="sign-in">
            <p>Already have an account? <a href="/sign-in">Sign in</a></p>
          </div>
        </form>
      </div>
    </div>
  </section>
</body>
