
<body>
    <section>
        <div class="form-box">
            <div class = "form-value">
                <form [formGroup]="addBookForm" (ngSubmit)="addBook()">
                    <h2>Add new book</h2>
                    <div class="input-box">
                        <input type="text" placeholder=" "  formControlName = "name" required>
                        <label>Name</label>
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder=" "  formControlName = "authorFirstName" required>
                        <label>Author first name</label>
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder=" "  formControlName = "authorLastName" required>
                        <label>Author last name</label>
                    </div>
                    <div class="input-box">
                        <label for="genres">Genre</label>
                        <select name="genres" id="genres"  formControlName = "genre" required>
                            <option value=0>CLASSIC</option>
                            <option value=1>DYSTOPIAN</option>
                            <option value=2>FANTASY</option>
                            <option value=3>ROMANCE</option>
                            <option value=4>EDUCATION</option>
                        </select> 
                    </div>
                    <div class="input-box">
                        <input type="number" placeholder=" "  min = "0" step = "0.01" formControlName = "price" required>
                        <label>Price</label>
                    </div>
                    <div>
                        <button>Add book</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>